@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --primary-color: #64766A;
    --seconday-color: #94A7AE;
    --primary-pink: #C0A9BD;
    --dark-color: #2a4149;

    --text-color: ;
    --background-color: #f4f2f3;

    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Noto Sans', sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    font-family: var(--heading-font);
}

h1, h2, h3, h4, h5, h6, span {
    font-family: var(--heading-font);
    color: #1a1a1a;
}

p, label, small {
    font-family: var(--paragraph-font);
    word-wrap: break-word;
    line-height: 1.85714285714286;
}

.btn-color {
    border-radius: 25px;
    background-image: linear-gradient(to right, #0250c5 0%, #d43f8d 100%);
    padding: .7rem 2rem;
    font-size: 18px;
    color: #fff;
}

header {
    .navbar {
        padding: 1.3rem 0;
        transition: all .5s ease;
        .navbar-nav {
            .active {
                &::after {
                    content: '';
                    width: 2px;
                    height: 2px;
                    background-color: #fff;
                    display: block;
                    margin: 0 auto;
                    margin-top: -.3rem;
                }
            }
        }
    }
    .scrolled {
        padding: .8rem 0;
        background-color: var(--primary-color);
        box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.3);
        -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.3);
        -moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.3);
    }
}

#home {
    height: 100vh;
    .home-section {
        height: 95vh;
        background-color: rgb(156, 91, 91);
        background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80") ;
        background-position: center;
        background-size: cover;
        border-bottom-right-radius: 120px;
    }
}

#logo {
    width: 100%;
    path {
        &:nth-child(2) {
            stroke-dasharray: 356;
            stroke-dashoffset: 356;
            animation: logo-letter 2s ease forwards;
        }
        &:nth-child(3) {
            stroke-dasharray: 411;
            stroke-dashoffset: 411;
            animation: logo-letter 2s ease forwards .3s;
        }
        &:nth-child(4) {
            stroke-dasharray: 477;
            stroke-dashoffset: 477;
            animation: logo-letter 2s ease forwards .6s;
        }
        &:nth-child(5) {
            stroke-dasharray: 400;
            stroke-dashoffset: 400;
            animation: logo-letter 2s ease forwards .9s;
        }
        &:nth-child(6) {
            stroke-dasharray: 340;
            stroke-dashoffset: 340;
            animation: logo-letter 2s ease forwards 1.2s;
        }
        &:nth-child(7) {
            stroke-dasharray: 348;
            stroke-dashoffset: 348;
            animation: logo-letter 2s ease forwards 1.5s;
        }
        &:nth-child(8) {
            stroke-dasharray: 411;
            stroke-dashoffset: 411;
            animation: logo-letter 2s ease forwards 1.8s;
        }
    }
}

@keyframes logo-letter {
    to {
        stroke-dashoffset: 0;
    }
}

.card-section {
    .card {
        border-radius: 8px;
        background: #f4f2f3;
        box-shadow:  20px 20px 39px #d9d9d9, 
                    -20px -20px 39px #f4f2f3;
        border: none;
        margin: 1.5rem 0;
        transition: all .5s ease;
    
        &:hover {
            background: #f1f1f1;
            box-shadow:  20px 20px 39px #d9d9d9, 
                    -20px -20px 39px #f1f1f1;
            transform: translateY(-20px);
        }
        p {
            font-size: 18px;
            font-weight: 400;
            font-style: normal;
            color: #6e7180;
        }
    }
}

section {
    .img-content {
        position: relative;
        .img-div {
            .img-fluid {
                border-radius: 13px;
            }
        }
        
        .img-desc {
            position: absolute;
            top: 250px;
            width: 70%;
            margin: 0px 240px 0px 0px;
            color: #FFFFFF;
            padding: 32px 32px 32px 32px;
            background-color: #3B4FE4;
            border-radius: 13px;
            box-shadow: 24px 32px 80px -16px rgba(59, 79, 228, 0.65);

            h5 {
                color: #fff;
            }
            .media {
                i {
                    font-size: 2rem;
                }
            }
        }
    }
    
}

footer {
    background-color: var(--dark-color);

    h4 {
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        margin-bottom: 2rem;

        &::before {
            content: '';
            width: 150px;
            height: 2px;
            display: block;
            background-color: #fff;
            transform: translateY(30px);
        }

        &::after {
            content: '';
            width: 40px;
            height: 4px;
            display: block;
            background-color: var(--primary-pink);
            transform: translateY(9px);
        }
    }

    p {
        color: #fff;
        font-size: .9rem;
    }

    ul {
        list-style: none;
    }
    .quick-links {
        padding-inline-start: 0;
        li {
            margin: .2rem 0;
            a {
                font-size: .9rem;
            }
        }
    }

    .social-links {
        padding-inline-start: 0;

        li {
            display: inline;
            margin: .2rem .5rem;
        }
    }

    a {
        color: rgba(255, 255, 255, 0.837);

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}

/* remove outline */
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus,
.btn:focus,
.btn:active,
select.form-control:focus,
select.form-control:active {
  box-shadow: inset 0 -1px 0 #ddd;
}

@media screen and (max-width: 500px) {
    section {
        .img-content {
            .img-div {
                width: fit-content;
                .img-fluid {
                    border-radius: 13px 13px 0 0;
                }
            }
            .img-desc {
                position: relative;
                top: 0px;
                width: inherit;
                margin: 0 auto;
                border-radius: 0 0 13px 13px;
            }
        }
    }
}

