@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
:root {
  --primary-color: #64766A;
  --seconday-color: #94A7AE;
  --primary-pink: #C0A9BD;
  --dark-color: #2a4149;
  --first-color: #0f3460;
  --first-color-dark: #16213e;
  --first-color-darker: #1a1a2e;
  --text-color: #8db596;
  --first-color-light: #EAE7E6;
  --first-color-lighter: #FFFAFA;
  --background-color: #f4f2f3;
  --heading-font: 'Lato', sans-serif;
  --paragraph-font: 'Lato', sans-serif;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background-color);
  font-family: var(--heading-font);
}

h1, h2, h3, h4, h5, h6, span {
  font-family: var(--heading-font);
  color: #1a1a1a;
}

p, label, small {
  font-family: var(--paragraph-font);
  word-wrap: break-word;
  line-height: 1.85714285714286;
}

.btn-color {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 1.5;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  border-radius: 25px;
  background-image: -webkit-gradient(linear, left top, right top, from(#0250c5), to(#d43f8d));
  background-image: linear-gradient(to right, #0250c5 0%, #d43f8d 100%);
  padding: .7rem 2rem;
  width: auto;
  font-size: 18px;
  color: #fff;
  border: none;
}

.btn-color:hover {
  text-decoration: none;
  color: #fff;
}

header .navbar {
  padding: 1.3rem 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

header .navbar .navbar-toggler {
  outline: none;
  border: none;
  color: #fff;
  font-size: 1.8em;
}

header .navbar .navbar-nav .nav-link {
  text-transform: uppercase;
}

header .navbar .navbar-nav .active::after {
  content: '';
  width: 2px;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: -.3rem;
}

header .scrolled {
  padding: .8rem 0;
  background-color: var(--first-color);
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.3);
}

#home {
  height: 100vh;
}

#home .home-section {
  height: 95vh;
  background-color: #9c5b5b;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
  background-position: center;
  background-size: cover;
  border-bottom-right-radius: 120px;
}

#home h4 {
  color: #fff;
}

#logo {
  width: 100%;
}

#logo path:nth-child(2) {
  stroke-dasharray: 356;
  stroke-dashoffset: 356;
  -webkit-animation: logo-letter 2s ease forwards;
          animation: logo-letter 2s ease forwards;
}

#logo path:nth-child(3) {
  stroke-dasharray: 411;
  stroke-dashoffset: 411;
  -webkit-animation: logo-letter 2s ease forwards .3s;
          animation: logo-letter 2s ease forwards .3s;
}

#logo path:nth-child(4) {
  stroke-dasharray: 477;
  stroke-dashoffset: 477;
  -webkit-animation: logo-letter 2s ease forwards .6s;
          animation: logo-letter 2s ease forwards .6s;
}

#logo path:nth-child(5) {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  -webkit-animation: logo-letter 2s ease forwards .9s;
          animation: logo-letter 2s ease forwards .9s;
}

#logo path:nth-child(6) {
  stroke-dasharray: 340;
  stroke-dashoffset: 340;
  -webkit-animation: logo-letter 2s ease forwards 1.2s;
          animation: logo-letter 2s ease forwards 1.2s;
}

#logo path:nth-child(7) {
  stroke-dasharray: 348;
  stroke-dashoffset: 348;
  -webkit-animation: logo-letter 2s ease forwards 1.5s;
          animation: logo-letter 2s ease forwards 1.5s;
}

#logo path:nth-child(8) {
  stroke-dasharray: 411;
  stroke-dashoffset: 411;
  -webkit-animation: logo-letter 2s ease forwards 1.8s;
          animation: logo-letter 2s ease forwards 1.8s;
}

#logo path:nth-child(9) {
  stroke-dasharray: 411;
  stroke-dashoffset: 411;
  -webkit-animation: logo-letter 2s ease forwards 2.1s;
          animation: logo-letter 2s ease forwards 2.1s;
}

@-webkit-keyframes logo-letter {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes logo-letter {
  to {
    stroke-dashoffset: 0;
  }
}

.card-section .card {
  border-radius: 8px;
  background: #f4f2f3;
  -webkit-box-shadow: 20px 20px 39px #d9d9d9,  -20px -20px 39px #f4f2f3;
          box-shadow: 20px 20px 39px #d9d9d9,  -20px -20px 39px #f4f2f3;
  border: none;
  margin: 1.5rem 0;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.card-section .card .img-section {
  padding-bottom: 1rem;
}

.card-section .card .img-section svg {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}

.card-section .card:hover {
  background: #f1f1f1;
  -webkit-box-shadow: 20px 20px 39px #d9d9d9,  -20px -20px 39px #f1f1f1;
          box-shadow: 20px 20px 39px #d9d9d9,  -20px -20px 39px #f1f1f1;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.card-section .card:hover .img-section svg {
  -webkit-animation: rotate 5s linear infinite;
          animation: rotate 5s linear infinite;
}

.card-section .card p {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  color: #6e7180;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

section .img-content {
  position: relative;
}

section .img-content .img-div .img-fluid {
  border-radius: 13px;
}

section .img-content .img-desc {
  position: absolute;
  top: 250px;
  width: 70%;
  margin: 0px 240px 0px 0px;
  color: #FFFFFF;
  padding: 32px 32px 32px 32px;
  background-color: #3B4FE4;
  border-radius: 13px;
  -webkit-box-shadow: 24px 32px 80px -16px rgba(59, 79, 228, 0.65);
          box-shadow: 24px 32px 80px -16px rgba(59, 79, 228, 0.65);
}

section .img-content .img-desc h5 {
  color: #fff;
}

section .img-content .img-desc .media i {
  font-size: 2rem;
}

section .wave-animation svg path {
  -webkit-animation: pathAnim 7s;
          animation: pathAnim 7s;
}

footer {
  background-color: var(--first-color-darker);
}

footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 2rem;
}

footer h4::before {
  content: '';
  width: 150px;
  height: 2px;
  display: block;
  background-color: #fff;
  -webkit-transform: translateY(30px);
          transform: translateY(30px);
}

footer h4::after {
  content: '';
  width: 40px;
  height: 4px;
  display: block;
  background-color: var(--first-color);
  -webkit-transform: translateY(9px);
          transform: translateY(9px);
}

footer p {
  color: #fff;
  font-size: .9rem;
}

footer ul {
  list-style: none;
}

footer .quick-links {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

footer .quick-links li {
  margin: .2rem 0;
}

footer .quick-links li a {
  font-size: .9rem;
}

footer .social-links {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

footer .social-links li {
  display: inline;
  margin: .2rem .5rem;
}

footer a {
  color: rgba(255, 255, 255, 0.837);
}

footer a:hover {
  color: #fff;
  text-decoration: none;
}

/* remove outline */
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus,
.btn:focus,
.btn:active,
select.form-control:focus,
select.form-control:active {
  -webkit-box-shadow: inset 0 -1px 0 #ddd;
          box-shadow: inset 0 -1px 0 #ddd;
}

@media screen and (max-width: 992px) {
  section .img-content .img-div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  section .img-content .img-desc {
    position: absolute;
    bottom: -100px;
    top: auto;
    width: 100%;
  }
}

@media screen and (max-width: 766px) {
  header .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  header .navbar .navbar-nav .active::after {
    content: '';
    width: 0px;
    height: 0px;
    display: none;
  }
  section .img-content .img-div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  section .img-content .img-desc {
    position: absolute;
    bottom: 0px;
    top: auto;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  #home {
    height: 80vh;
  }
  #home .home-section {
    height: 95%;
    border-bottom-right-radius: 80px;
  }
  section .img-content .img-div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  section .img-content .img-div .img-fluid {
    border-radius: 13px 13px 0 0;
  }
  section .img-content .img-desc {
    position: relative;
    top: 0px;
    width: inherit;
    margin: 0 auto;
    border-radius: 0 0 13px 13px;
  }
}
/*# sourceMappingURL=style.css.map */